    <!-- ======= About Me Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <span>{% trans %}A propos{% endtrans %}</span>
                <h2>{% trans %}A propos{% endtrans %}</h2>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <p>{% trans %}Je m'appelle Olivier Prieur. Je suis développeur web à Nevers, en région Bourgogne ouest.
                    J’ai repris les cours en 2020 afin d’acquérir de nouvelles compétences en développement web qui
                    complètent aujourd’hui celles déjà acquises dans le cadre des mes précédentes missions et dans le
                    cadre de projets associatifs. Je suis aujourd’hui titulaire d’un Titre Professionnel BAC+2
                    « Développeur web et web mobile ».
                    Je code principalement en PHP et j'ai adopté le framework Symfony comme mon outil de travail
                    principal.{% endtrans %}</p>
                </div>
                <div class="col">
                    <p>{% trans %}J'ai aussi pu acquérir de nouvelles compétences liées
                    aux bonnes pratiques et aux savoir-faire professionnels indispensables dans le métier de développeur
                    web (gestion de projets, versioning, ...).
                    <br> Je possède également des compétences d'administration réseau,
                    d'admininistration système Linux et quelques notions DevOps (Docker, Gitlab CI, ...).
                    Libriste et linuxien, j'aime les temps conviviaux des install parties. Je blog (www.citizenz.info).
                    J'ai créé une cryptomonnaie début 2020 : PengolinCoin (www.pengolincoin.xyz).{% endtrans %}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch justify-content-center justify-content-lg-start mb-3">
                    <img src="{{ asset('img/me.jpg') | imagine_filter('aboutme') }}" alt="Olivier Prieur"
                        class="img-fluid" style="background-size: cover; min-height: 500px;">
                </div>
                <div class="col-lg-8 d-flex flex-column align-items-stretch">
                    <div class="content ps-lg-4 d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Nom :{% endtrans %} </strong> <span>Olivier Prieur</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Blog :{% endtrans %} </strong><span>www.citizenz.info</span></li>
                                    <li>
                                        <i class="bi bi-chevron-right"></i>
                                        <strong>{% trans %}Téléphone :{% endtrans %} </strong>
                                        {% if app.request.locale == 'fr' %}
                                            <span>06.30.65.19.52</span>
                                        {% else %}
                                            <span>+33 630651952</span>
                                        {% endif %}
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Adresse :{% endtrans %} </strong> <span>57, rue de Marzy 58000 Nevers - France</span></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Age :{% endtrans %} </strong> <span>51</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Niveau d'étude :{% endtrans %} </strong>
                                        <span>{% trans %}Niveau 6 (normes européennes){% endtrans %}</span>
                                    </li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}E-mail :{% endtrans %} </strong> <span>oprieur@protonmail.com</span></li>
                                    <li><i class="bi bi-chevron-right"></i> <strong>{% trans %}Status :{% endtrans %} </strong><span>{% trans %}En poste{% endtrans %}</span></li>
                                </ul>
                            </div>
                        </div>

                    </div><!-- End .content-->

                    <div class="skills-content ps-lg-4">

                        <div class="progress">
                            <span class="skill">Gnu/Linux <i class="val">90%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="90"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">HTML/CSS <i class="val">80%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="80"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Git/Github/Gitlab <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="70"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">PHP <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="70"></div>
                            </div>
                        </div>

                        <div class="progress">
                            <span class="skill">Symfony <i class="val">70%</i></span>
                            <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="70"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Me Section -->